.hero {
  height: 100vh;
  margin-top: -30%;
}

.input {
  width: 300px;
}
.box {
  margin-top: -30%;
  transition: background-color 1s ease;
}
.box:hover {
  box-shadow: 0 0 10px #007bff, 0 0 10px #007bff, 0 0 10px #007bff;
  //   transform: scale(1.01);
}
.ct-btn {
  padding: 10px;
  width: 150px;
}
.textarea {
  resize: none;
  height: 70px;
}
